.content
  %h1 Content Blocks

  .controls
    %a{:href => '/admin/content_block', :class => 'add_new', :title => 'add new content block'} 
      %img{:src => '/images/new_document.png', :alt => 'add new', :title => 'add new'}
  %table.content_blocks
    %thead
      %tr.head
        %th Page
        %th Section
        %th Body (truncated)
        %th
    %tbody
      - @content_blocks.each do |cb| 
        %tr
          %td #{cb.page}
          %td #{cb.section}
          %td 
            #{cb.body.truncate}
            .ctrls 
              %a{:href => "/admin/content_block/#{cb.id}"}
                %img{:src => '/images/edit.png', :alt => 'edit', :title => 'edit'}
              %a{:title => 'trash', :class => 'delete_link', :href => "/admin/content_block/#{cb.id}/delete"} 
                %img{:src => '/images/trash.png', :alt => 'trash', :title => 'trash'}

