.content
  %h1 ContentBlocks

  .controls
    %a{:href => '/admin/content_block'} add new
  %table.content_blocks
    %thead
      %tr.head
        %th Page
        %th Section
        %th Body (truncated)
        %th
    %tbody
      - @content_blocks.each do |cb| 
        %tr
          %td #{cb.page}
          %td #{cb.section}
          %td #{cb.body.truncate}
          %td 
            %a{:href => "/admin/content_block/#{cb.id}"} edit
            = " | " 
            %a{:class => 'delete_link', :href => "/admin/content_block/#{cb.id}/delete"} delete
