.content
  %h1 ContentBlocks

  .controls
    %a{:href => '/admin/content_block'} add new
  %table.content_blocks
    %thead
      %tr.head
        %th Page
        %th Section
        %th Body (truncated)
        %th
    %tbody
      - @content_blocks.each do |cb| 
        %tr
          %td #{cb.page}
          %td #{cb.section}
          %td #{cb.body.truncate}
          %td.ctrls 
            %a{:href => "/admin/content_block/#{cb.id}"}
              %img{:src => '/images/edit.png', :alt => 'edit', :title => 'edit'}
            %a{:title => 'trash', :class => 'delete_link', :href => "/admin/content_block/#{cb.id}/delete"} 
              %img{:src => '/images/trash.png', :alt => 'trash', :title => 'trash'}

