.sinatra_env
  Sinatra thinks we're running as #{@sinatra_mode}
  %h3 Settings
  %table
    %tr
      %td.key #{@user} 
      %td.arr &rarr;
      %td.val #{@pass}
  
  %h3 Environment
  %table
    - @env.each do |k,v|
      %tr 
        %td.key #{k}
        %td.arr &rarr;
        %td.val #{v}
