.content
  %h1 ContentBlocks

  - if @content_block && @content_block.errors 
    .errors
      ERRORS! 
      - @content_block.errors.each do |err|
        .err #{err.join}

  :ruby
    help_msg = { :page => 'e.g "events", "home"',
                 :section => 'can be empty',
                 :body => 'Use markdown syntax. <a href="http://daringfireball.net/projects/markdown/basics">Markdown Guide</a>'}
  %form{:action => '/admin/content_block', :method => 'POST'}
    - [ :page, :section, :body].each do |k|
      - ky = k.to_s
      - clz = (@content_block && @content_block.errors && @content_block.errors.keys.include?(k)) ? 'fieldWithErrors' :''
      .content_block_input{:class => clz}
        .lbl
          %label{:for => "content_block_#{ky}"} #{ky.capitalize}
        - if k == :body
          %textarea{:class => "content_block", :id => "content_block_#{ky}", :name => "content_block[#{ky}]", :value => (@content_block ? @content_block.send(ky) : ''), :rows => 40,:cols => 75}
        - else        
          %input{:type => 'text', :class => "content_block", :id => "content_block_#{ky}", :name => "content_block[#{ky}]", :value => (@content_block ? @content_block.send(ky) : '') }
        %span.help #{help_msg[k]}
    .clear
    .submit  
      %input{:type => 'submit'}

