.sidebar
  %h3 Artists
  %ul.artists_list
    - @artists.sort_by{|a| a[1].lastname.downcase}.each do |aid, a|
      %li.artist
        %a{:href => "/artists/#{aid}"}
          .name #{a.fullname}
.content
  = haml :breadcrumb, :layout => false
  %h1 Artists
  .artists
    list of artist thumbs
    %ul
      - @artists.reject{|a| a[1].art_pieces.empty?}.sort_by{|a| a[1].lastname.downcase}.each do |aid, a|
        %li.thumb
          %a{:href => "/artists/#{aid}"}
            .img 
              - if a.art_pieces && a.art_pieces.length > 0
                %img{:src => a.art_pieces[0]['thumb'] }
            .name #{a.fullname}
            - # available keys: name,image_height,flickr,email_attrs,blog,url,nomdeplume,lastname,id,studio_id,myspace,image_width,profile_image,phone,firstname,facebook,studionumber,login,twitter,state,email, art_pieces
        
