.sidebar
  %h3 Artists
  %ul.artists_list
    - @artists.each do |artist|
      %li.artist
        %a{:href => "/artists/#{artist.id}"}
          .name #{artist.fullname}
.content
  = haml :breadcrumb, :layout => false
  %h1 Artists
  .artists
    %ul
      - @artists.reject{|artist| artist.art_pieces.nil? || artist.art_pieces.empty?}.each do |a|
        %li.thumb
          %a{:href => "/artists/#{a.id}"}
            .img
              %img{:src => a.art_pieces.first.thumbnail }
            .name #{a.fullname}
