.sidebar
  %h3 Artists
  %ul
    %li
      %a{:href => "#", 'data-section' => "info"}
        %div #{@artist.fullname}
    - @artist.art_pieces.each_with_index do |ap, idx|
      %li
        %a{:href => "#", 'data-section' => "piece#{ap.id}", :title => ap.title}
          %div Image #{idx+1}
    %li
      %a{:href => "#", 'data-section' => 'contact'}
        %div Contact

.content
  = haml :breadcrumb, :layout => false
  %section.info
    %h1 #{@artist.fullname}
    .thumbs
      - @artist.art_pieces.each do |ap|
        .piece{ 'data-section' => "piece#{ap.id}" }
          %img{:src => ap.thumbnail}
    .bio #{markdown_content(@artist.bio)}
  - @artist.art_pieces.each do |ap|
    %section.art_piece{:class => "piece#{ap.id}"}
      %h1 #{@artist.fullname}
      .artpiece
        .title #{ap.title}
        .medium_year
          = [ap.medium, ap.year].compact.join(", ")
        .piece
          %img{:src => ap.images['medium']}

  %section.contact
    %h1 #{@artist.fullname} : Contact
    - [:email, :website, :facebook, :twitter, :myspace, :blog].each do |k|
      - if @artist.send(k) && !@artist.send(k).empty?
        %div{:class => k.to_s}
          :ruby
            val = (k == :email ? @artist.send(k) : Artist.make_link(@artist.send(k)))
          %span #{k.capitalize} : #{val}
